<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>UserServlet</servlet-name>
        <servlet-class>servlets.UserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserServices</servlet-name>
        <servlet-class>services.UserServices</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RoleService</servlet-name>
        <servlet-class>services.RoleService</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>User</servlet-name>
        <servlet-class>models.User</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Role</servlet-name>
        <servlet-class>models.Role</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserDB</servlet-name>
        <servlet-class>dataaccess.UserDB</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RoleDB</servlet-name>
        <servlet-class>dataaccess.RoleDB</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DBUtil</servlet-name>
        <servlet-class>dataaccess.DBUtil</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConncectionPool</servlet-name>
        <servlet-class>dataaccess.ConncectionPool</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserServlet</servlet-name>
        <url-pattern>/UserServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserServices</servlet-name>
        <url-pattern>/UserServices</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RoleService</servlet-name>
        <url-pattern>/RoleService</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>User</servlet-name>
        <url-pattern>/User</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Role</servlet-name>
        <url-pattern>/Role</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserDB</servlet-name>
        <url-pattern>/UserDB</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RoleDB</servlet-name>
        <url-pattern>/RoleDB</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DBUtil</servlet-name>
        <url-pattern>/DBUtil</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConncectionPool</servlet-name>
        <url-pattern>/ConncectionPool</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
